<!--===========================
=            About            =
============================-->

<section class="section about" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6 align-self-center">
				<div class="image-block bg-about">
					<img class="img-fluid" src="images/speakers/Prof NVRK.jpg" width = "150px" alt="" >
					<p style="text-align:center">Prof Ravi Kumar NV</p>
				</div>
				<div class="image-block bg-about">
					<img class="img-fluid" src="images/speakers/Sanjay.jpg" width = "150px" alt="">
					<p  style="text-align:center">Prof Sanjay Mathur</p>
				</div>
			</div>
			<div class="col-lg-9 col-md-6 align-self-center">
				<div class="content-block">
					<h2>About CTFM 2023</h2>
					<div class="description-one">
						
					</div>
					<div class="description-two">
						<p>
							The advancement in autonomous mobility is highly dependent on the design and development of
							innovative materials that can be easily scaled up and translated into technologies. The Ceramic
							Technologies Group (CTG) under the Center of Excellence in Materials and Manufacturing for
							Futuristic mobility, IIT Madras, is set up to design and develop advanced technical ceramics
							providing emergent solutions to the e-mobility industry. The International Conference on Advanced
							Ceramic Technologies for Futuristic Mobility (CTFM 2023) will be a flagship event of the centre,
							aiming to brainstorm challenges and technologies that pave the way for revolutionizing the concept of
							mobility.</p>
							<p>
								The conference will be focused on a wide variety of themes in high-performance ceramics, starting
								from electronic structure calculations & atomistics to device fabrication. Invited talks and panel
								discussions by the experts are being arranged on the latest developments and future research
								directions in the field. The CTG intends to not just address the unresolved scientific problems in the
								field of advanced ceramics but also translate scientific research to commercializable technologies that
								can offer unique solutions to the concept of futuristic mobility; hence, inputs from industry leaders are
								also incorporated. The conference will also be a unique occasion for the students/scholars to interact
								with peers in their area.</p>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>

<!--====  End of About  ====-->