<!--==============================
=            Speakers            =
===============================-->

<section class="section theme bg-subscribe overlay-white" id="domain">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section Title -->
				<div class="section-title">
					<h3>The Themes</h3>
				</div>
			</div>
		</div>
		<div class="row">

			
			@@include('blocks/domain-item.htm',{
				"name" : "Sensors & Display",
				"about"	: "Micro and nanostructured ceramics and coatings",
				"photo" : "images/domains/sensors.jpg",

			})


			@@include('blocks/domain-item.htm',{
				"name" : "Energy Storage",
				"about"	: "Structural ceramics and composites",
				"photo" : "images/domains/energystorage.jpg",

			})


			@@include('blocks/domain-item.htm',{
				"name" : "Dielectric Materials",
				"about"	: "Functional ceramics for energy and environment",
				"photo" : "images/domains/dielectric.jpg",

			})


			@@include('blocks/domain-item.htm',{
				"name" : "Thermal Management",
				"about"	: "Computational techniques and data-driven	design.",
				"photo" : "images/domains/battery.jpg",

			})

			<div class="col-lg-3 col-md-3 col-sm-3 col-xs-0"></div>
			@@include('blocks/domain-item.htm',{
				"name" : "Computational Discovery",
				"about"	: "Computational techniques and data-driven	design.",
				"photo" : "images/domains/2.jpg",

			})			@@include('blocks/domain-item.htm',{
				"name" : "AI & ML",
				"about"	: "Computational techniques and data-driven	design.",
				"photo" : "images/domains/ml.jpg",

			})




		</div>
	</div>
</section>

<!--====  End of Speakers  ====-->