<!--================================
=            Google Map            =
=================================-->
<section class="map">
	<div class="row">
		<div class="col-12">
			<!-- Section Title -->
			<div class="section-title2">
				<h3>Venue</h3>
				<div class="col-7">

					<p>The conference will be held at the Centre for Industrial Consultancy and Sponsored Research (ICSR)
						auditorium, Indian Institute of Technology Madras, Chennai. IIT Madras is one among the foremost
						institutes of national importance in higher technological education, basic and applied research. It has
						been the top-ranking engineering institute in India for the past 7 years in the National Institutional
						Ranking Framework (NIRF), Government of India rankings since this ranking system was announced
						in 2015. Much of the campus is a protected forest, carved out of the Guindy National Park, home to
						many animals that are not commonly seen in a busy city like Chennai.
					</p><p>
						<b>Location:</b> The campus is conveniently located about 10 km from Chennai airport and 12 km from
						Chennai central railway station and is well connected by city buses, sub-urban and metro train
						services. Kasturba Nagar is the nearest station on the Chennai MRTS line and Little mount is the
						nearest station in the Chennai Metro line. Auto and taxi services are also easily accessible to the
						campus.</p>
					
	
	
			</div>

				<div class="col-lg-5 col-md-5 ">
					<!-- Story Image Slider -->
					<div class="about-slider">
						<!-- Story Image -->
						<div class="item">
							<img class="w-100" src="images/core_values/Focus.png" alt="slider-image" >
						</div>
						<!-- Story Image -->
						<div class="item">
							<img class="w-100" src="images/core_values/Freedom.png" alt="slider-image">
						</div>
						<!-- Story Image -->
						<div class="item">
							<img class="w-100" src="images/core_values/Impact.png" alt="slider-image">
						</div>
						<div class="item">
							<img class="w-100" src="images/core_values/Integrity.png" alt="slider-image">
						</div>
						<div class="item">
							<img class="w-100" src="images/core_values/Quality.png" alt="slider-image">
						</div>
					</div>
				</div>
				
			</div>
		</div>


	</div>
	<!-- Google Map -->



</section>
<!--====  End of Google Map  ====-->