<div class="block">
	<div class="title text-left">
		<h3><span class="alternate"> Register to CTFM 2023</span></h3>
		<h3><span class="alternate"> TO BE UPDATED</span></h3>


		<p>Please fill the below form to register for CTFM 2023</p>
	</div>
	<form action="#" class="row">
		<div class="col-md-6">
			<input type="text" class="form-control main" placeholder="Your Name" required>
		</div>
		<div class="col-md-6">
			<input type="email" class="form-control main" placeholder="Email" required>
		</div>
		<div class="col-md-6">
			<input type="text" class="form-control main" placeholder="Phone" required>
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<select class="form-control main" id="select-ticket" required>
				  <option>Type</option>
				  <option>Student</option>
				  <option>Academica</option>
				  <option>Industry</option>

				</select>
			</div>
		</div>
		<div class="col-12">
			<button type="submit" class="btn btn-main-md">Register Now</button>
		</div>
	</form>
</div>