<!--================================
=            Page Title            =
=================================-->
<li class="schedule-details">
	<div class="block">
		<!-- time -->
		<div class="time">
			<i class="fa fa-clock-o"></i>
			<span class="time">@@time</span>
		</div>
		<!-- Speaker -->
		<div class="speaker">
			<img src="@@photo" width="40px" alt="speaker-thumb-one">
		  <span class="name">@@name</span>
		</div>
		<!-- Subject -->
		<div class="subject">@@topic</div>
		<!-- Venue -->
	
	</div>
</li>

<!--====  End of Page Title  ====-->
