<!--==============================
=            Speakers            =
===============================-->

<section class="section speakers bg-sponsors overlay-dark" id="speaker">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<!-- Section Title -->
				<div class="section-title white">
					<h3>Speakers</h3>
				</div>
			</div>
		</div>
		<div class="row">

			@@include('blocks/speaker-item.htm',{
				"name" : "Alexander Michaelis",
				"insti"	: "Fraunhofer Institute for Ceramic	Technologies and Systems IKTS, Germany",
				"photo" : "images/speakers/Alex.jpg",
				"linkedin" : "#",
				"website" : "#"
			})


			@@include('blocks/speaker-item.htm',{
				"name" : "Sanjay Mathur",
				"insti"	: "Institute of Inorganic Chemistry, University of Cologne, <br>Germany,",
				"photo" : "images/speakers/Sanjay.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			@@include('blocks/speaker-item.htm',{
				"name" : "NAME",
				"insti"	: "Laboratory, <br> University, <br>COUNTRY,",
				"photo" : "images/speakers/IMAGE_1.jpg",
				"linkedin" : "#",
				"website" : "#"
			})
			

			<!-- @@include('blocks/speaker-item.htm',{
				"name" : "Silke Christiansen",
				"insti"	: "Institute for nanotechnology and correlative microscopy GmbH <br> Germany",
				"photo" : "images/speakers/silke.jpg",
				"linkedin" : "#",
				"website" : "#"
			}) -->


		</div>
	</div>
</section>

<!--====  End of Speakers  ====-->