<!--================================
=            Page Title            =
=================================-->

<div class="col-lg-3 col-md-4 col-sm-6">
	<!-- Speaker 1 -->
	<div class="speaker-item">
		<div class="image">
			<img src="@@photo" width = "300px" height = "300px" alt="speaker" class="img-fluid">
			<div class="primary-overlay"></div>
			<div class="socials">
				<ul class="list-inline">
					<li class="list-inline-item"><a href="@@linkedin"><i class="fa fa-linkedin"></i></a></li>
					<li class="list-inline-item"><a href="@@website"><i class="fa fa-globe"></i></a></li>
				</ul>
			</div>
		</div>
		<div class="content text-center">
			<h5>@@name</a></h5>
			<p>@@insti</p>
		</div>
	</div>
</div>

<!--====  End of Page Title  ====-->
